<h3 style="text-align: center">Update Article</h3>
<mat-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="nameGroup">
    <form [formGroup]="nameGroup">
      <ng-template matStepLabel>Fill out article name</ng-template>
      <mat-form-field>
        <mat-label>Article</mat-label>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <div *ngIf="nameGroup.get('name')?.invalid && nameGroup.get('name')?.touched" style="color: red">
        Article name should have at least 10 characters
      </div>
      <div>
        <button mat-button [disabled]="!nameGroup.valid" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="categoryGroup">
    <form [formGroup]="categoryGroup">
      <ng-template matStepLabel>Choose category</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="IT">IT</mat-option>
          <mat-option value="Business">Business</mat-option>
          <mat-option value="Development">Development</mat-option>
          <mat-option value="Finance">Finance</mat-option>
          <mat-option value="Design">Design</mat-option>
          <mat-option value="Marketing">Marketing</mat-option>
          <mat-option value="Lifestyle">Lifestyle</mat-option>
          <mat-option value="Photography">Photography</mat-option>
          <mat-option value="Health">Health</mat-option>
          <mat-option value="Music">Music</mat-option>
          <mat-option value="Teaching">Teaching</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="!categoryGroup.valid" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="photoGroup">
    <form [formGroup]="photoGroup">
      <ng-template matStepLabel>Fill out photo link</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Photo</mat-label>
        <input matInput formControlName="photoURL" placeholder="url" required>
      </mat-form-field>
      <div *ngIf="photoGroup.get('photoURL')?.invalid && nameGroup.get('photoURL')?.touched" style="color: red">
        Value should be link
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="!photoGroup.valid" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="userCommentGroup">
    <form [formGroup]="userCommentGroup">
      <ng-template matStepLabel>Enter your comment</ng-template>
      <mat-form-field>
        <mat-label>Comment area</mat-label>
        <textarea matInput formControlName="userComment" placeholder="text"></textarea>
      </mat-form-field>
      <div *ngIf="userCommentGroup.get('userComment')?.invalid && userCommentGroup.get('userComment')?.touched"
           style="color: red">
        Comment area should have at least 10 characters
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="!userCommentGroup.valid" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Add parts</ng-template>
    <form [formGroup]="partsGroup" style="padding: 70px 0; text-align: center">
      <ng-container formArrayName="parts">
        <ng-container *ngFor="let partForm of parts.controls;let id = index">
          <div [formGroupName]=id>
            <mat-form-field>
              <mat-label>Header</mat-label>
              <input matInput formControlName="header" required>
            </mat-form-field>
            <div *ngIf="partForm.get('header')?.invalid && partForm.get('header')?.touched" style="color: red">
              Header value should have at least 5 characters
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-form-field>
              <mat-label>Content area</mat-label>
              <textarea matInput formControlName="text" placeholder="text"></textarea>
            </mat-form-field>
            <div *ngIf="partForm.get('text')?.invalid && partForm.get('text')?.touched" style="color: red">
              Content should have at least 15 characters
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-icon svgIcon="delete-part" (click)="deletePart(id)">Delete</mat-icon>
          </div>
        </ng-container>
        <mat-icon svgIcon="add-part" (click)="addPart()">Add</mat-icon>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!partsGroup.valid" matStepperNext>Next</button>
        </div>
      </ng-container>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onSubmit()">Save
      </button>
    </div>
  </mat-step>
</mat-stepper>
