<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<nav class="navbar">
  <div class="logo">
    <a href="#"><i class='bx bx-menu'></i></a>
    <a href="#"><i class='bx bx-wind'></i> Vegos</a></div>
  <ul class="icons">
    <li><input type="search" class="search-field" placeholder="Search ..."/></li>
    <li>
      <button class="message-icon" onclick="showDropdown('.message-dropdown-content')"><i class='bx bxs-chat noti'></i>
      </button>
      <div class="message-dropdown-content dropdown-content">
        <a>Message folder is empty</a>
      </div>
    </li>
    <li>
      <button class="notification-icon" onclick="showDropdown('.notification-dropdown-content')"><i
        class='bx bxs-bell noti'></i></button>
      <div class="notification-dropdown-content dropdown-content">
        <a>Notification folder is empty</a>
      </div>
    </li>
    <li>
      <button class="profile-icon" onclick="showDropdown('.profile-dropdown-content')"><i
        class='bx bxs-user-circle'></i></button>
      <div class="profile-dropdown-content dropdown-content">
        <a href="#"><i class='bx bxs-user'> Profile</i></a>
        <a href="#"><i class='bx bxs-flag-alt'> Language</i></a>
        <a href="#"><i class='bx bxs-sun'> Theme</i></a>
        <a href="#"><i class='bx bxs-cog'> Settings</i></a>
      </div>
    </li>
  </ul>
</nav>

<div>
  <ul>
    <li>
      <a routerLink="articles">Articles</a>
    </li>
    <li>
      <a routerLink="create-article">Add Article</a>
    </li>
  </ul>
</div>
